/*Crystal Game Styles*/

.crystalMargin {
    margin: 30px 15%;
}

#crystalContainer {
    background-image: url("../images/breadfish.gif");
    background-size: cover;
}

.crystalWhBG {
    background-color: #ffffff;
    opacity: .9;
}

#honeyText {
    color: black;
    font-size: 24px;
    width: 30%;
    max-height: 50px;
    position: absolute;
    margin: 82px -2px;
    text-align: center;
}

.crystalScTxt {
    color: red;
    font-size: 2.2vw;
}

.crystalImages {
    height: auto;
}

#bareImage {
    width: 60%;
    height: auto;
    border-radius: 30%;
    float: right;
}

#honeyImage {
    width: 30%;
    height: auto;
    object-fit: cover;
    float: left;
}

.crystalImages:hover {
    cursor: pointer;
}

