header {
    text-align: center;
    background-color: orange;
    font-weight: bold;
    padding: 5px;
}

nav {
    background-color: black;
    color: orange;
    padding: 5px;
}

body {
    background-color: orange;
}