body {
    background: url("../images/firebg.jpg") fixed bottom right;
    color: gold;
}

.navbar-brand {
    color: gold;
}

.container {
    background-color: rgb(0, 0, 0, .3);
    border-color: gray;
}

.blackBG {
    background-color: black;
    border-radius: 15px;
}

.centerGold {
    text-align: center;
    color: gold;
}

#rpgInfo {
    text-align: center;
}

.charText {
    background-color: gray;
    color: gold;
    font-size: 1em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.charImage {
    max-height: 423 px;
    max-width: 100%;
}

.foeImage {
    min-height: 306px;
    max-height: 306px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.botBox {
    border-radius: 0 0 15px 15px;
}

.topBox {
    border-radius: 15px 15px 0 0;
}

.clickChar:hover {
    cursor: pointer;
}

#rerollButton {
    text-align: center;
    color: black;
}

#combatLog {
    background-color: gray;
    color: gold;
    border: 1px green solid;
}

label {
    color: gold;
}

#btnAtk {
    color: gold;
}

#btnHeal {
    color: gold;
}

#btnGuard {
    color: gold;
}

#btnPlay {
    color: gold;
}

#btnStop {
    color: gold;
}

#musPtr {
    text-align: center;
    margin: auto;
}

.comBut {
    min-width: 75px;
    display: block;
    margin: auto;
}